.table{
    width: 75%;
    height: 100%;
    text-align: center;
}

header{
    background-color: #36f;
    height: 100%;
    padding: 2em;
    text-align: center;
}

.header-admin{
    background-color: lightblue;
}

body{
    background-color: #ff6;
    
}

h1{
    text-align: center;
}

.button {
    float: right;
    margin: 2.5em;
}
.button_list{
    display: flex;
    justify-content: space-around;
    margin: 5% 20%;
}
